.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    @media screen and (min-width:480px){
        width: 480px;
        
    }
    @media screen and (min-width:768px){
        width: 768px;

    }
    @media screen and (min-width:1200px){
        width: 1200px;

    }
}
.auth-list{
    @extend %flex; 
    column-gap: 9px;
    .auth-item{
        &:last-child{
            border: 2px solid #fff;
            border-radius: 17px;
            padding: 11px 5px;
        }
        .auth-link{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        color: #fff;
    }
    // .auth-link:last-child{
    //     border: 2px solid #fff;
    //     border-radius: 17px;
    // }

    }
    
}
